.skill {
  width: 50%;
  height: 100%;
  position: absolute;
  background: linear-gradient(-60deg, #48c7b5, #91c7d3);
  border-radius: 20px 0 0 20px; }

.info {
  width: 100%;
  display: flex;
  justify-content: space-around; }

.skill_expected {
  width: 70%;
  background: linear-gradient(58deg, #c6dab4, #91c7d3);
  border-radius: 20px 0 0 20px; }

.skill_expected-width, .skill-width {
  width: 40%;
  height: 30px;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 20px;
  padding: 0 20px;
  box-shadow: 0px 0px 20px 10px rgba(255, 150, 206, 0.2); }
  .skill_expected-width p, .skill-width p {
    height: 100%;
    line-height: 30px;
    background: linear-gradient(120deg, #673c3c 33%, #104479 66%, #b328b5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fbfbfb; }

.skill-resistance {
  width: 55%; }

.skill_expected-resistance {
  width: 67%; }

.skill-html {
  width: 45%; }

.skill_expected-html {
  width: 64%; }

.skill-time {
  width: 40%; }

.skill_expected-time {
  width: 45%; }

.skill-courage {
  width: 43%; }

.skill_expected-courage {
  width: 63%; }

.skill-analysis {
  width: 35%; }

.skill_expected-analysis {
  width: 60%; }

.skill-language {
  width: 15%; }

.skill_expected-language {
  width: 40%; }

.skill-business {
  width: 80%; }

.skill_expected-business {
  width: 85%; }

.skill-programming {
  width: 10%; }

.skill_expected-programming {
  width: 45%; }

.skill-new {
  width: 63%; }

.skill_expected-new {
  width: 78%; }

.skill-self_examination {
  width: 75%; }

.skill_expected-self_examination {
  width: 80%; }

.skill-patience {
  width: 90%; }

.skill_expected-patience {
  width: 95%; }
