html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.octopus {
  display: flex;
  justify-content: center;
  width: 100%; }

.octopus__head {
  position: relative;
  width: 35%;
  min-height: 400px;
  background: linear-gradient(90deg, #48c7b5, #91c7d3);
  border-radius: 0 285px 285px 0;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 15px 20px 20px 1px rgba(255, 150, 206, 0.2); }
  .octopus__head::before {
    position: absolute;
    content: " ";
    width: 100px;
    height: 100px;
    bottom: 100px;
    right: 25px;
    background: #6690ad;
    border-radius: 0 0px 60px 200px; }
  .octopus__head::after {
    position: absolute;
    content: " ";
    width: 107px;
    height: 100px;
    bottom: 107px;
    right: 25px;
    background: linear-gradient(90deg, #6bc7c3, #8bc7d0);
    border-radius: 0px 0px 30px 200px; }

.octopus_head__eye {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 50px;
  height: 50px;
  background-image: url(../img/octopus1.png);
  background-size: cover;
  background-repeat: no-repeat; }

.octopus__body {
  position: relative;
  width: 75%;
  display: flex;
  flex-direction: column;
  box-shadow: 15px 20px 28px 1px rgba(255, 150, 206, 0.2); }

.octopus__tentacles {
  position: relative;
  background: rgba(220, 237, 242, 0.2);
  text-align: right;
  border-radius: 20px 0 0 20px;
  height: 30px;
  margin-top: 10px;
  display: flex;
  flex-direction: row-reverse; }
  .octopus__tentacles p {
    position: absolute;
    height: 100%;
    line-height: 30px;
    right: 10px;
    z-index: 999;
    font-size: 16px;
    background: linear-gradient(120deg, #673c3c 33%, #104479 66%, #b328b5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fbfbfb; }

.octopus__tentacles:nth-child(1) {
  margin-top: 0px; }

.skill {
  width: 50%;
  height: 100%;
  position: absolute;
  background: linear-gradient(-60deg, #48c7b5, #219485);
  border-radius: 20px 0 0 20px; }

.info {
  width: 100%;
  display: flex;
  justify-content: space-around; }

.skill_expected {
  width: 70%;
  background: #b5bd69;
  border-radius: 20px 0 0 20px; }

.skill_expected-width, .skill-width {
  width: 40%;
  height: 30px;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 20px;
  padding: 0 20px;
  box-shadow: 0px 0px 20px 10px rgba(255, 150, 206, 0.2); }
  .skill_expected-width p, .skill-width p {
    height: 100%;
    line-height: 30px;
    background: linear-gradient(120deg, #673c3c 33%, #104479 66%, #b328b5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fbfbfb; }

.skill-resistance {
  width: 55%; }

.skill_expected-resistance {
  width: 67%; }

.skill-html {
  width: 45%; }

.skill_expected-html {
  width: 64%; }

.skill-time {
  width: 40%; }

.skill_expected-time {
  width: 45%; }

.skill-courage {
  width: 43%; }

.skill_expected-courage {
  width: 63%; }

.skill-analysis {
  width: 35%; }

.skill_expected-analysis {
  width: 60%; }

.skill-language {
  width: 15%; }

.skill_expected-language {
  width: 40%; }

.skill-business {
  width: 80%; }

.skill_expected-business {
  width: 85%; }

.skill-programming {
  width: 10%; }

.skill_expected-programming {
  width: 45%; }

.skill-new {
  width: 63%; }

.skill_expected-new {
  width: 78%; }

.skill-self_examination {
  width: 75%; }

.skill_expected-self_examination {
  width: 80%; }

.skill-patience {
  width: 90%; }

.skill_expected-patience {
  width: 95%; }

* {
  box-sizing: border-box; }

body {
  height: 100vh;
  background: url(../img/underwater.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Cormorant Infant', serif;
  font-weight: 700; }

h1 {
  font-size: 41px;
  background: linear-gradient(60deg, #e4adad 33%, #2686d2 55%, #8AA9D6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fbfbfb; }

.container {
  min-width: 920px;
  max-width: 920px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 30px;
  margin: 0 auto; }
