doctype html
html
  head
    meta charset="utf-8" /
    meta content="width=device-width, initial-scale=1.0" name="viewport" /
    link href="https://fonts.googleapis.com/css?family=El+Messiri" rel="stylesheet" /
    link href="css/style.css" rel="stylesheet" type="text/css" /
    title Octopus
  body
    .container
      .title
        h1.h1 Осьминог навыков Алексея Голованова
      .title.title_mobile
        h1.h1 Щупальцы навыков Алексея Голованова
      .octopus
        ul.octopus__body
          li.octopus__tentacles.octopus__tentacles-resistance
            p Стойкость к критике
          li.octopus__tentacles.octopus__tentacles-html
            p HTML/CSS/JavaScript
          li.octopus__tentacles.octopus__tentacles-time
            p Управление временем
          li.octopus__tentacles.octopus__tentacles-courage
            p Смелость
          li.octopus__tentacles.octopus__tentacles-analysis
            p Анализ и решение задач
          li.octopus__tentacles.octopus__tentacles-language
            p Английский язык
          li.octopus__tentacles.octopus__tentacles-business
            p Доводить дело до конца
          li.octopus__tentacles.octopus__tentacles-programming
            p Программирование
          li.octopus__tentacles.octopus__tentacles-new
            p Изучение нового
          li.octopus__tentacles.octopus__tentacles-self_examination
            p Самоанализ
          li.octopus__tentacles.octopus__tentacles-patience
            p Терпение
        .octopus__head
          .octopus_head__eye
      .skill
        .skill__now.skill-width
          p.skill__text Состояние навыка в 2018 году
          p.skill__text.skill__text-mobile В 2018 году
        .skill__expected.skill-width
          p.skill__text Ожидаемое состояние в 2019 году
          p.skill__text.skill__text-mobile В 2019 году