// .buttons {
//   width: 100%;
//   display: flex;
//   flex-wrap: wrap;
//   align-items: center;
//   margin-top: 40px;
// }

.buttons__resume {
  margin-top: 20px;
  text-align: center;
  a {
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    box-shadow: 0 0 5px #9499a0;
    transition: all .3s;
    &:hover {
      color: #bf451f;
      outline: 1px solid #d67456;
    }
  }
}

.buttons__social_links {
  margin-top: 20px;
  justify-content: center;
  display: flex;
  justify-content: space-between;
  li {
    border: 1px solid;
    a {
      display: block;
      padding: 5px 10px;
      color: white;
      box-shadow: 0 0 5px rgb(148, 153, 160);
      &:hover {
        color: #bf451f;
      }
    }
    &:hover {
      border-color: #d67456;
    }
  }
}

.buttons__social_links-footer {
  margin: 0;
  padding: 20px 0;
  background-color: #e4c143;
  justify-content: center;
  li {
    margin: 0 20px;
    border: none;
    a {
      box-shadow: none;
    }
  }
}