.h1 {
  font-size: 72px;
  margin: 20px 0;
}

.h3 {
  font-size: 21px;
  margin: 20px 0;
}

.title__description {
  font-size: 21px;
  font-family: 'Merriweather', serif;
  font-weight: 100;
  margin: 10px;
}

.title {
  z-index: 10;
  margin-bottom: 50px;
}