.profile {
  padding: 20px;
}

.profile__photo, .profile__info {
  padding: 0 15px;
}

.profile__photo{
  width: 33.33%;
  img {
    display: block;
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
  }
}

.profile__info {
  width: 66.66666667%;
}

.profile__description {
  margin: 15px 0;
}

.profile__list {
  display: flex;
  flex-wrap: wrap;
  li {
    width: 50%;
    margin-top: 20px;
    color: white;
  }
  a {
    color: white;
  }
}

.profile__list-name {
  margin-right: 10px;
  color: #aaaaaa;
}

.profile__list-footer {
  justify-content: space-around;
  li {
    width: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  span {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .profile__photo {
    width: 60%;
  }
  .profile__info {
    width: 100%;
    margin-top: 20px;
  }
  .profile__list {
    flex-direction: column;
    li {
      width: 100%;
    }
  }
}

@media screen and (max-width: 480px) {
  .profile__photo {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .profile__list-footer {
    flex-direction: column;
    padding-left: 30px;
  }
}