.skill {
  width: 100%;
}

.skill__title {
  display: flex;
  justify-content: space-between;
  color: #aaaaaa;
}

.skill__progress {
  height: 14px;
  background-color: #aaaaaa;
  margin-top: 5px;
  margin-bottom: 15px;
  box-shadow: 0 0 5px rgba(0,0,0,.4);
}

.skill__bar {
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #428bca;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  transition: width .6s ease;
}

.skill__bar1 {
  width: 50%;
}