.skills{
  padding: 20px;
}

.wrap__skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills {
  width: 48%;
}

@media screen and (max-width: 768px) {
  .skills {
    width: 100%;
  }
  .skills + .skills {
    margin-top: 50px;
  }
}

.skills__title {
  width: 100%;
  position: relative;
  text-align: center;
}

.skills__other {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  li {
    position: relative;
    width: 50%;
    margin-top: 10px;
    &:before {
      position: absolute;
    }
  }
  i {
    margin-right: 10px;
  }
}