.skill {
  width: 100%;
}

.skill__title {
  display: flex;
  justify-content: space-between;
  color: color;
}

.skill__progress {
  height: 14px;
  background-color: #aaaaaa;
  margin-top: 5px;
  margin-bottom: 15px;
  box-shadow: 0 0 5px rgba(0,0,0,.4);
}

.skill__bar {
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #428bca;
  box-shadow: 0 0 5px rgba(0,0,0,.4);
  transition: width .6s ease;
}

.skill__bar-html {
  width: 65%;
}

.skill__bar-js {
  width: 27%;
}

.skill__bar-photoshop{
  width: 33%;
}

.skill__bar-git{
  width: 42%;
}

.skill__bar-npm {
  width: 20%;
}