@charset "UTF-8";
@import "reset";
@import "container";
@import "font";
@import "profile";
@import "buttons";
@import "skills";
@import "skill";
@import "bar";
@import "education";



* {
  box-sizing: border-box;
}

body {
  min-width: 400px;
  color: #aaaaaa;
  background-color: #2a2c30;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: #aaaaaa;
  &:hover {
    color: #bf451f;
  }
}

.profile, .skills, .education__description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #3a3b40;
}

em {
  color: #428bca;
}

.git {
  color: #e4c143;
  text-decoration: underline;
}