@charset "UTF-8";
@import "reset";
@import "container";
@import "font";
@import "profile";
@import "buttons";
@import "skills";
@import "skill";
@import "bar";
@import "education";



* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  color: #aaaaaa;
  background-color: #2a2c30;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #aaaaaa;
}

.profile, .skills, .education__description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #3a3b40;
}