doctype html
html
  head
    meta charset="utf-8" /
    meta content="width=device-width, initial-scale=1.0" name="viewport" /
    link href="https://fonts.googleapis.com/css?family=El+Messiri" rel="stylesheet" /
    link href="css/style.css" rel="stylesheet" type="text/css" /
    title Octopus
  body
    .container
      .title
        h1.h1 Осьминог навыков Алексея Голованова
      .octopus
        ul.octopus__body
          li.octopus__tentacles.octopus__tentacles-resistance
            span.octopus__text Стойкость к критике
            | &nbsp; 55% -> 67%
          li.octopus__tentacles.octopus__tentacles-html
            span.octopus__text HTML/CSS/JavaScript
            | &nbsp; 45% -> 64%
          li.octopus__tentacles.octopus__tentacles-time
            span.octopus__text Управление временем
            | &nbsp; 40% -> 45%
          li.octopus__tentacles.octopus__tentacles-courage
            span.octopus__text Смелость
            | &nbsp; 43% -> 63%
          li.octopus__tentacles.octopus__tentacles-analysis
            span.octopus__text Анализ и решение задач
            | &nbsp; 35% -> 60%
          li.octopus__tentacles.octopus__tentacles-language
            span.octopus__text Английский язык
            | &nbsp; 15% -> 40%
          li.octopus__tentacles.octopus__tentacles-business
            span.octopus__text Доводить дело до конца
            | &nbsp; 80% -> 85%
          li.octopus__tentacles.octopus__tentacles-programming
            span.octopus__text Программирование
            | &nbsp; 10% -> 45%
          li.octopus__tentacles.octopus__tentacles-new
            span.octopus__text Изучение нового
            | &nbsp; 63% -> 78%
          li.octopus__tentacles.octopus__tentacles-self_examination
            span.octopus__text Самоанализ
            | &nbsp; 75% -> 80%
          li.octopus__tentacles.octopus__tentacles-patience
            span.octopus__text Терпение
            | &nbsp; 90% -> 95%
          li.octopus__tentacles.octopus__tentacles-new_skill
            span.octopus__text Слот для нового навыка
            | &nbsp; 0%
        .octopus__head
          .octopus__eye
            span.octopus__pupil
      .skill
        .skill__now.skill-width
          p.skill__text Состояние навыка в 2018 году
          p.skill__text.skill__text-mobile В 2018 году
        .skill__expected.skill-width
          p.skill__text Ожидаемое состояние в 2019 году
          p.skill__text.skill__text-mobile В 2019 году
  script src="js/jquery.js" type="text/javascript"
  script src="js/script.js" type="text/javascript"