.octopus {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0px 0 30px;
}

.octopus__head {
  position: relative;
  width: 35%;
  min-height: 400px;
  background: linear-gradient(90deg, #48c7b5, #91c7d3);
  border-radius: 0 285px 285px 0;
  border-right: 1px solid hsla(0,0%,100%,.2);
  box-shadow: 15px 20px 20px 1px rgba(255,150,206,.2);
  &::before {
    position: absolute;
    content: " ";
    width: 100px;
    height: 100px;
    bottom: 100px;
    right: 25px;
    background: #6690ad;
    border-radius: 0 0px 60px 200px;
  }
  &::after {
    position: absolute;
    content: " ";
    width: 107px;
    height: 100px;
    bottom: 107px;
    right: 25px;
    background: linear-gradient(90deg, #6bc7c3, #8bc7d0);
    border-radius: 0px 0px 30px 200px;
  }
}

@media only screen and (max-width: 786px) {
  .octopus__head{
    display: none;
 }
}

.octopus__eye {
  width:100px;
  height:100px;
  position: absolute;
  top: 40px;
  left: 80px;
  border-radius: 50%;
  background: url(../img/eye.png);
}

.octopus__pupil{
  position: absolute;
  background-color : #4ec6b7;
  width:30px;
  height:30px;
  margin-left: 40px; /* Размеры движущегося объекта */
  border-radius:50px;
}

.octopus__body {
  position: relative;
  width: 75%;
  display: flex;
  flex-direction: column;
  box-shadow: 15px 20px 28px 1px rgba(255,150,206,.2);
}

@media only screen and (max-width: 786px) {
  .octopus__body{
    box-shadow: none;
    margin: 50px 0;
 }
}

@media only screen and (max-width: 480px) {
  .octopus__body{
    width: 100%;
 }
}

.octopus__tentacles {
  position: relative;
  background: rgba(220, 237, 242, 0.2);
  text-align: right;
  border-radius: 20px 0 0 20px;
  height: 30px;
  margin-top: 10px;
  display: flex;
  flex-direction: row-reverse;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    background: linear-gradient(-60deg, #48c7b5, #219485);
    border-radius: 20px 0 0 20px;
    z-index: 10;
  }

  &::after{
    content: "";
    height: 100%;
    position: absolute;
    background: #b5bd69;
    border-radius: 20px 0 0 20px;
  }
}

.octopus__text {
  position: absolute;
  height: 100%;
  line-height: 32px;
  right: 10px;
  z-index: 999;
  font-size: 16px;
  background: linear-gradient(120deg, #673c3c 33%, #104479 66%, #b328b5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fbfbfb;
}

@media only screen and (max-width: 786px) {
  .octopus__tentacles{
    flex-direction: row;
    margin-top: 20px;
    text-indent: 5px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px rgba(255, 150, 206, 0.2);
 }
 .octopus__text {
    right: auto;
    left: 10px;
    background: linear-gradient(120deg, #b328b5, #104479 66%, #673C3A 33%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fbfbfb;
  }
}

.octopus__tentacles:nth-child(1) {
  margin-top: 0px;
}

@media only screen and (max-width: 786px) {
  .octopus__tentacles {
    &::before {
      border-radius: 20px;
    }

    &::after{
      border-radius: 20px;
    }
  }
}

.octopus__tentacles-resistance {
  &::before {
    width: 55%;
  }

  &::after{
    width: 67%;
  }
}

.octopus__tentacles-html {
  &::before {
    width: 45%;
  }

  &::after{
    width: 64%;
  }
}

.octopus__tentacles-time {
  &::before {
    width: 40%;
  }

  &::after{
    width: 45%;
  }
}

.octopus__tentacles-courage {
  &::before {
    width: 58%;
  }

  &::after{
    width: 75%;
  }
}

.octopus__tentacles-analysis {
  &::before {
    width: 35%;
  }

  &::after{
    width: 60%;
  }
}

.octopus__tentacles-language {
  &::before {
    width: 15%;
  }

  &::after{
    width: 40%;
  }
}

.octopus__tentacles-business {
  &::before {
    width: 80%;
  }

  &::after{
    width: 85%;
  }
}

.octopus__tentacles-programming {
  &::before {
    width: 10%;
  }

  &::after{
    width: 45%;
  }
}

.octopus__tentacles-new {
  &::before {
    width: 63%;
  }

  &::after{
    width: 78%;
  }
}

.octopus__tentacles-self_examination {
  &::before {
    width: 75%;
  }

  &::after{
    width: 80%;
  }
}

.octopus__tentacles-patience {
  &::before {
    width: 90%;
  }

  &::after{
    width: 95%;
  }
}