@charset "UTF-8";
@import "reset";
@import "octopus";
@import "skill";

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: url(../img/underwater.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Cormorant Infant', serif;
  font-weight: 700;
}

h1 {
  font-size: 41px;
  background: linear-gradient(120deg, #ffffff 33%, #0D61BC 66%, #8AA9D6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fbfbfb;
}

.container {
  min-width: 920px;
  max-width: 920px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 30px;
  margin: 0 auto;
}